spring:

  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/fitness_user_db
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    inetutils:
      ignored-interfaces:
        - VirtualBox
        - Hyper-V
        - VMware
      preferred-networks:
        - 127.0.0.1
        - 192.168.

server:
  port: 8081

eureka:
  instance:
    hostname: localhost
    ip-address: 127.0.0.1
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
